<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.journey" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Journey_sharing"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".activity.FollowerPeerGroupActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.showDetail"
            android:exported="false" />
        <activity
            android:name=".activity.InformationActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LeaderPeerGroupActivity"
            android:exported="true"
            android:parentActivityName=".activity.RealTimeJourneyTableActivity" />
        <activity
            android:name=".activity.RealTimeJourneyTableActivity"
            android:exported="true"
            android:parentActivityName=".activity.ConditionActivity" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".msg.message.Chat"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bottom_layout"
            android:exported="false" />
        <activity
            android:name=".MapboxActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity android:name=".IndexActivity" />
        <activity
            android:name=".activity.ConditionActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.ActionBar" />
        <activity
            android:name=".activity.JourneyActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.SelectLocationActivity"
            android:exported="false"
            android:parentActivityName=".activity.ConditionActivity"
            android:theme="@style/Theme.AppCompat.Light.ActionBar" />
    </application>

</manifest>